@charset "ISO-8859-1";

/*Fuentes usadas:
	- Montserrat
	- Open Sans
	- Roboto
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	background-color: #faf9f9;
	color: #001219;
	min-height: 100%;
	text-decoration: none;
}

a{
	text-decoration: none;
}

.margins{
	max-width: 100%;
	padding: 0em 10% 0em 10%;
}

/*MENU*/

.menu{
	position: fixed;
	z-index: 10;
	width: 100%;
	padding: 25px 0rem 25px 0rem;
	background-color: #faf9f9;
}

.menu .margins{
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu li{
	list-style: none;
	display: inline-block;
	align-items: center;
}

.menu ul{
	margin-bottom: 0px;
	padding-left: 0px;
}


.menu li a{
	color: #001219;
	font-family: 'Open Sans';
	font-size: 17px;
	font-weight: bold;
	padding: 1.5625rem 1.4375rem 0.625rem 1.4375rem;
}

.menu li a:hover{
	border-bottom: solid 3px #219ebc;
	color: #219ebc;
	transition: all .1s;
}


/* HOME CONTENT */

.home{
	position: absolute;
	width: 100%;
}

.home .margins{
	padding-top: 7%;
}

.home .header img{
	width: 25%;
	height: 25%;
}

/*header*/

.home .header{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3.75rem;
}

.home .header .title{
	width: 50%;
}

.home .header h1{
	font-weight: bold;
	font-size: 6.25rem;
	font-family: 'Montserrat';
	color: #001219;
}

.home .header .box{
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 20px;
	border-left: solid 5px #219ebc;
}

.home .header h2{
	font-weight: bold;
	font-size: 2.5rem;
	font-family: 'Montserrat';
	color: #001219;
}


.home .header .title .button{
	margin-top: 40px;
	margin-left: 30px;

}

.home .header .title .button a{
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 17px;
	color: white;
	padding: 15px 35px 15px 35px;
	background-color: #219ebc;
	border-radius: 25px;

	
}

.home .header .title .button a:hover{
	background-color: #005f73;
	transition: all .2s;

}

.home .home-content{
	margin-top: 6.25rem;
	width: 100%;
	
}

/*seccion 1*/

.home .home-content .section-1{
	display: grid;
	grid-template-columns: 6fr 4fr;
	gap: 80px;
	
}

.home .home-content .noticias{
	max-width: 100%;

}

.home h3{

	font-family: 'Open Sans';
	font-weight: bold;
	color: #001219;
	font-size: 50px;
	margin-bottom: 30px;
	padding-left: 20px;
	border-left: solid 5px #219ebc;
	
	
}

.home .home-content .section-1 img{
	filter: blur(3.5px);
	width: 100%;
	height: 500px;
	
}

.home .home-content .noticias .carousel-inner{
	border-radius: 20px;
}

.home .home-content .noticias h5{
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 40px;
	text-shadow: black 0.1em 0.1em 0.2em
}

.home .home-content .noticias p{
	font-family: 'Open Sans';
	font-size: 17px;
	/*text-shadow: black 0.1em 0.1em 0.2em*/
}

.home .home-content .novedades table{
	width: 100%;
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 17px;
	color: white;
}

.home .home-content .novedades table tr td{
	padding: 20px 20px 20px 30px;
	background-color: #219ebc;
	
	
}

.home .home-content .novedades table tr{
	border-top: solid 10px #faf9f9;
	border-bottom: solid 10px #faf9f9;
	
}


/*seccion 2*/

.home .home-content .section-2{
	margin-top: 80px;
	padding-top: 50px;
	border-top: solid 2px #ced4da; 
}

.home .home-content  .section-2, .section-3 p{
	font-family: 'Roboto';
	text-align: justify;
	line-height : 30px;
	color: #001219;
	font-size: 17px;
}

.home .home-content .section-2 img{
	width: 50%;
	float: left;
	margin-top: 10px;
	margin-right: 50px;

}

/*seccion 3*/

.home .home-content .section-3{
	margin-top: 250px;
	padding-top: 50px;
	border-top: solid 2px #ced4da; 
}

.home .home-content .section-3 img{
	width: 30%;
	float: right;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 30px;

}

/* FOOTER */

.footer{
	width: 100%;
	height: auto;
	background-color: #faf9f9;
	padding: 20px 0px 20px 0px;
	text-align: center;
	margin-top: 80px;
	font-family: 'Roboto';
	border-top: solid 2px #ced4da;
}

.footer .buttons a{
	color: #001219;
}

.footer .buttons a:hover{
	color: #219ebc;
	transition: all .1s;
}

.footer .buttons i{
	font-size: 25px;
	margin: 10px 30px 10px 30px;
}

.footer p{
	font-size: 15px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
}

.footer .terms a{
	color: #001219;
	font-size: 15px;
	margin: 5px 10px 10px 10px;
}

.footer .terms a:hover{
	color: #219ebc;
	transition: all .1s;
}

/*---------------------BIBLIOGRAPHY---------------------------*/

.home .b-content{
	margin-top: 0px;
	width: 100%;
	min-width: 100%;
}

.home .b-content p{
	font-family: 'Roboto';
	text-align: justify;
	line-height : 30px;
	color: #001219;
	font-size: 17px;
}

.home .b-content .b-table{
	margin-top: 30px;
	background-color: white;
	padding: 30px 30px 30px 30px;
	border-radius: 20px;
	font-family: Roboto;
	font-size: 15px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.home .b-content .b-table table{
	border-collapse: collapse;
	width: 100%;
}

.home .b-content .b-table table thead{
	font-family: Open Sans;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}


.home .b-content .b-table table tr{
	border-bottom: 1px solid #ced4da;
}

.home .b-content .b-table table tr:last-child{
	border-bottom: none;
}

.home .b-content .b-table tbody tr:hover{
	background-color: #219ebc;
	color: white;
}

.home .b-content .b-table table thread:hover{
	background-color: white;
	/*color: white;*/
}

.home .b-content .b-table table tr td{
	padding: 10px 15px 10px 15px;;
}

.home .b-content .b-table table tr td:nth-child(5), td:nth-child(6), td:nth-child(7){
	text-align: center;
}

.home .b-content .b-table table tr td:nth-child(7){
	width: 8%;
}


.home .b-content .searchs{
	display:flex;
	margin-top: 30px;
	justify-content:right;
	
}

.home .b-content .searchs .input-field{
	width: 230px;
	height: 30px;
	background-color: #white;
	border: solid 1px #ced4da;
	border-radius: 55px;
	padding: 0 20px 0 20px;
	vertical-align: middle;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}


.home .b-content .searchs .input-field input{
	background: none;
	outline: none;
	border: none;
	line-height: 1;
	font-size: 15px;
	color: #001219;
	width: 100%;
	height: 100%;
	
	
}

.home .b-content .searchs .input-field input::placeholder{
	color: #aaa;
}


.home .b-content .searchs .button{
	margin-left: 30px;
	margin-top: 5px;
}

.home .b-content .searchs .button a{
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 15px;
	color: white;
	padding: 6px 35px 6px 35px;
	background-color: #219ebc;
	border-radius: 25px;

	
}

.home .b-content .searchs .button a:hover{
	background-color: #005f73;
	transition: all .2s;
}

