@charset "ISO-8859-1";

/*Fuentes usadas:
	- Montserrat
	- Open Sans
	- Roboto
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
	--background-color: #faf9f9;
	--principal-color: #219ebc;
	--secondary-color: #005f73;
	--third-color: #ced4da;
	--font-color: #001219;
	--news-color: #38b000;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	background-color: var(--background-color);
	color: var(--font-color);
	min-height: 100%;
	text-decoration: none;
}

a{
	text-decoration: none;
}

.margins{
	max-width: 100%;
	padding: 0em 10% 0em 10%;
}

/*MENU*/

.menu{
	position: fixed;
	z-index: 10;
	width: 100%;
	padding: 25px 0rem 25px 0rem;
	background-color: var(--background-color);
}

.menu .margins{
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu li{
	list-style: none;
	display: inline-block;
	align-items: center;
}

.menu ul{
	margin-bottom: 0px;
	padding-left: 0px;
}


.menu li a{
	color: var(--font-color);
	font-family: 'Open Sans';
	font-size: 17px;
	font-weight: bold;
	padding: 1.5625rem 1.4375rem 0.625rem 1.4375rem;
}

.menu li a:hover{
	border-bottom: solid 3px var(--principal-color);
	color: var(--principal-color);
	transition: all .1s;
}


/* HOME CONTENT */

.home{
	position: absolute;
	width: 100%;
}

.home .margins{
	padding-top: 7%;
}

.home .header img{
	width: 25%;
	height: 25%;
}

/*header*/

.home .header{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3.75rem;
}

.home .header .title{
	width: 50%;
}

.home .header h1{
	font-weight: bold;
	font-size: 6.25rem;
	font-family: 'Montserrat';
	color: var(--font-color);
}

.home .header .box{
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 20px;
	border-left: solid 5px var(--principal-color);
}

.home .header h2{
	font-weight: bold;
	font-size: 2.5rem;
	font-family: 'Montserrat';
	color: var(--font-color);
}


.home .header .title .button{
	margin-top: 40px;
	margin-left: 30px;

}

.home .header .title .button a{
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 17px;
	color: white;
	padding: 15px 35px 15px 35px;
	background-color: var(--principal-color);
	border-radius: 25px;

	
}

.home .header .title .button a:hover{
	background-color: var(--secondary-color);
	transition: all .2s;

}

.home .home-content{
	margin-top: 6.25rem;
	width: 100%;
	
}

/*seccion 1*/

.home .home-content .section-1{
	display: grid;
	grid-template-columns: 6fr 4fr;
	gap: 80px;
	
}

.home .home-content .noticias{
	max-width: 100%;

}

.home h3{

	font-family: 'Open Sans';
	font-weight: bold;
	color: var(--font-color);
	font-size: 50px;
	margin-bottom: 30px;
	padding-left: 20px;
	border-left: solid 5px var(--principal-color);
	
	
}

.home .home-content .section-1 img{
	filter: blur(3.5px);
	width: 100%;
	height: 500px;
	
}

.home .home-content .noticias .carousel-inner{
	border-radius: 20px;
}

.home .home-content .noticias h5{
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 40px;
	text-shadow: black 0.1em 0.1em 0.2em
}

.home .home-content .noticias p{
	font-family: 'Open Sans';
	font-size: 17px;
	/*text-shadow: black 0.1em 0.1em 0.2em*/
}

.home .home-content .novedades .news{
	margin-top: 30px;
	background-color: white;
	padding: 30px 30px 30px 30px;
	border-radius: 20px;
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 17px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.home .home-content .novedades .news table{
	border-collapse: collapse;
	width: 100%;
}

.home .home-content .novedades .news table tr{
	border-bottom: 1px solid var(--third-color);
}

.home .home-content .novedades .news table tr:last-child{
	border-bottom: none;
}

.home .home-content .novedades .news table tr td{
	padding: 10px 15px 10px 15px;;
}

.home .home-content .novedades .news table tr td:nth-child(2){
	font-weight: bold;
}

.home .home-content .novedades .news span{
	background-color: var(--news-color);
	color: white;
	font-size: 12px;
	font-weight: normal;
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
}

/*seccion 2*/

.home .home-content .section-2{
	margin-top: 80px;
	padding-top: 50px;
	border-top: solid 2px var(--third-color); 
}

.home .home-content  .section-2, .section-3 p{
	font-family: 'Roboto';
	text-align: justify;
	line-height : 30px;
	color: var(--font-color);
	font-size: 17px;
}

.home .home-content .section-2 img{
	width: 50%;
	float: left;
	margin-top: 10px;
	margin-right: 50px;

}

/*seccion 3*/

.home .home-content .section-3{
	margin-top: 250px;
	padding-top: 50px;
	border-top: solid 2px var(--third-color); 
}

.home .home-content .section-3 img{
	width: 30%;
	float: right;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 30px;

}

/* FOOTER */

.footer{
	width: 100%;
	height: auto;
	background-color: var(--background-color);
	padding: 20px 0px 20px 0px;
	text-align: center;
	margin-top: 80px;
	font-family: 'Roboto';
	border-top: solid 2px var(--third-color);
}

.footer .buttons a{
	color: var(--font-color);
}

.footer .buttons a:hover{
	color: var(--principal-color);
	transition: all .1s;
}

.footer .buttons i{
	font-size: 25px;
	margin: 10px 30px 10px 30px;
}

.footer p{
	font-size: 15px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 10px;
}

.footer .terms a{
	color: var(--font-color);
	font-size: 15px;
	margin: 5px 10px 10px 10px;
}

.footer .terms a:hover{
	color: var(--principal-color);
	transition: all .1s;
}

/*---------------------BIBLIOGRAPHY---------------------------*/

.home .b-content,.al-content{
	margin-top: 0px;
	width: 100%;
	min-width: 100%;
}

.home .b-content p{
	font-family: 'Roboto';
	text-align: justify;
	line-height : 30px;
	color: var(--font-color);
	font-size: 17px;
}

.home .b-content .b-table{
	margin-top: 30px;
	background-color: white;
	padding: 30px 30px 30px 30px;
	border-radius: 20px;
	font-family: Roboto;
	font-size: 15px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.home .b-content .b-table table{
	border-collapse: collapse;
	width: 100%;
}

.home .b-content .b-table table thead{
	font-family: Open Sans;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}


.home .b-content .b-table table tr{
	border-bottom: 1px solid var(--third-color);
}

.home .b-content .b-table table tr:last-child{
	border-bottom: none;
}

.home .b-content .b-table tbody tr:hover{
	background-color: var(--principal-color);
	color: white;
}

.home .b-content .b-table table thread:hover{
	background-color: white;
	/*color: white;*/
}

.home .b-content .b-table table tr td{
	padding: 10px 15px 10px 15px;;
}

.home .b-content .b-table table tr td:nth-child(5), td:nth-child(6), td:nth-child(7){
	text-align: center;
}

.home .b-content .b-table table tr td:nth-child(7){
	width: 8%;
}


.home .searchs{
	display:flex;
	margin-top: 30px;
	justify-content:right;
	
}

.home .searchs .input-field{
	width: 230px;
	height: 30px;
	background-color: white;
	border: solid 1px var(--third-color);
	border-radius: 55px;
	padding: 0 20px 0 20px;
	vertical-align: middle;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}


.home .searchs .input-field input{
	background: none;
	outline: none;
	border: none;
	line-height: 1;
	font-size: 15px;
	color: var(--font-color);
	width: 100%;
	height: 100%;
	
	
}

.home .searchs .input-field input::placeholder{
	color: #aaa;
}


.home .searchs .button{
	margin-left: 30px;
	margin-top: 5px;
}

.home .searchs .button a{
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 15px;
	color: white;
	padding: 6px 35px 6px 35px;
	background-color: var(--principal-color);
	border-radius: 25px;

	
}

.home  .searchs .button a:hover{
	background-color: var(--secondary-color);
	transition: all .2s;
}


/*------------------ALGORITMOS-------------------*/

.home .al-content p{
	font-family: 'Roboto';
	text-align: justify;
	line-height : 30px;
	color: var(--font-color);
	font-size: 17px;
}

.home .al-content .section-1{
	display: grid;
	width: 100%;
	grid-template-columns: 2fr 8fr;
	gap: 40px;
}

.home .al-content .section-1 .filters{
	height: 500px;	
	margin-top: 30px;
	background-color: white;
	padding: 30px 40px 30px 40px;
	border-radius: 20px;
	font-family: Open Sans;
	font-size: 17px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.home .al-content .section-1 .filters h5{
	font-weight: bold;
	font-size: 20px;
	font-family: 'Open Sans';
	margin-bottom: 15px;
	padding: 10px 0px 7px 0px;
	border-bottom: solid 1px var(--principal-color);
}

.home .al-content .section-1 .filters .container{
	font-size: 15px;
	font-family: 'Roboto';
	display: grid;
	grid-template-columns: 1fr 9fr;
	align-items: center;
	gap: 10px;
}

.home .al-content .section-1 .filters .container input{
	width: 15px;
	height: 15px;
}

.home .al-content .al-table{
	margin-top: 30px;
	height: auto;
	background-color: white;
	padding: 30px 40px 30px 40px;
	border-radius: 20px;
	font-family: Open Sans;
	font-size: 17px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
.home .al-content .al-table table{
	border-collapse: collapse;
	width: 100%;
}

.home .al-content .al-table table thead{
	font-family: Open Sans;
	font-size: 17px;
	font-weight: bold;
}


.home .al-content .al-table table tr{
	border-bottom: 1px solid var(--third-color);
}

.home .al-content .al-table table tr:last-child{
	border-bottom: none;
}

.home .al-content .al-table tbody tr:hover{
	background-color: var(--principal-color);
	color: white;
	cursor: pointer;
}

.home .al-content .al-table tbody tr:hover a{
	background-color: var(--principal-color);
	color: white;
	cursor: pointer;
}

.home .al-content .al-table tbody tr td a{
	color: var(--font-color);
}

.home .al-content .al-table table tr td{
	padding: 10px 20px 10px 20px;
}

.home .al-content .al-table table tr td:nth-child(1){
	width: 20%;
}

.home .al-content .al-table table tr td:nth-child(2){
	width: 40%;
}

.home .al-content .al-table table tr td:nth-child(3){
	width: 30%;
}

.home .al-content .al-table table tr td:nth-child(4){
	width: 10%;
	text-align: right;
}

/*----------------------A.DESCRIPTION---------------------------*/

.home .margins .nal-content{
	width: 100%;
}

.home .margins .nal-content .info{
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 8fr;
	gap: 40px;
	margin-bottom: 50px;
}

.home .margins .nal-content .info .table-1{
	background-color: white;
	padding: 30px 40px 30px 40px;
	border-radius: 20px;
	font-family: Open Sans;
	font-size: 17px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	height: 250px;
}

.home .margins .nal-content .info .table-1 table{
	border-collapse: collapse;
	width: 100%;
}

.home .margins .nal-content .info .table-1 table th{
	text-align: left;
}

.home .margins .nal-content .info .table-1 table tr{
	border-bottom: 1px solid var(--third-color);
}

.home .margins .nal-content .info .table-1 table tr:last-child{
	border-bottom: none;
}

.home .margins .nal-content .info .table-1 table tr td{
	padding: 10px 20px 10px 20px;
}


.home .margins .nal-content .info .table-2{
	height: auto;
	background-color: white;
	padding: 30px 40px 30px 40px;
	border-radius: 20px;
	font-family: Open Sans;
	font-size: 17px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.home .margins .nal-content .info .table-2 table{
	border-collapse: collapse;
	width: 100%;
}

.home .margins .nal-content .info .table-2 table th{
	text-align: left;
	vertical-align: top;
	width: 15%;
	padding: 10px 20px 10px 20px;
}

.home .margins .nal-content .info .table-2 table tr{
	border-bottom: 1px solid var(--third-color);
	
}

.home .margins .nal-content .info .table-2 table tr:last-child{
	border-bottom: none;
}

.home .margins .nal-content .info .table-2 table tr td{
	padding: 10px 20px 10px 20px;
	vertical-align: top;
	text-align: justify;
}




.home .margins .nal-content .code-types{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 9fr;
	gap: 60px;
}

.home .margins .nal-content .code-types .buttons{
	width: 100%;
	color: white;
	font-family: 'Open Sans';
	font-size: 17px;
	
}

.home .margins .nal-content .code-types .buttons li{
	list-style: none;
	margin: 2px 0px 30px 0px;
}

.home .margins .nal-content .code-types .buttons .card{
	background-color: var(--principal-color);
	padding: 15px 20px 15px 20px;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
}

.home .margins .nal-content .code-types .buttons .card:hover .box{
	transform: scale(1.08);
}

.home .margins .nal-content .code-types .buttons .card .box{
	transition: all 0.3s ease;
}

.home .margins .nal-content .code-types .buttons .card .box i{
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
}

.home .margins .nal-content .code-types .buttons .card:hover{
	background-color: var(--secondary-color);
}

.home .margins .nal-content .code-types .code{
	max-width: 100%;
	overflow: hidden;
}

.home .margins .nal-content .code-types .code .gist-file{
	width: 100%;
	max-height: 600px;
	overflow-y: scroll;
	border-radius: 20px;
}

/*-------------------Researches-----------------------*/

.home .margins .r-content p{
	font-family: 'Roboto';
	text-align: justify;
	line-height : 30px;
	color: var(--font-color);
	font-size: 17px;
}

.home .r-content .r-container{
	margin-top: 30px;
	height: auto;
	background-color: white;
	padding: 30px 50px 30px 50px;
	border-radius: 20px;
	font-family: Open Sans;
	font-size: 17px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
	justify-items: center;
}

.home .r-content .r-container .r-card{
	width: 250px;
	height: 300px;
	margin-top: 30px;
	background-color: white;
	padding: 30px 30px 30px 30px;
	border-radius: 20px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	text-align: center;
	vertical-align: center;
	cursor: pointer;
}

.home .r-content .r-container .r-card .profile img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
}

.home .r-content .r-container .r-card .profile .name p{
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.home .r-content .r-container .r-card .profile .institution p{
	margin-top: 20px;
	text-align: center;
	font-size: 15px;
}

.home .r-content .r-container .r-card .profile .country p{
	text-align: center;
	font-size: 15px;
}

.home .r-content .r-container .r-card .profile:hover {
	transform: scale(1.05);
}

.home .r-content .r-container .r-card .profile{
	transition: all 0.3s ease;
}

/*----------------------RESEARCHER PROFILE--------------------------*/

.home .margins .p-content{
	width: 100%;
	font-family: Open Sans;
	font-size: 17px;
}

.home .margins .p-content .container{
	display: grid;
	grid-template-columns: 2fr 8fr;
	background-color: white;
	padding: 50px 50px 50px 50px;
	border-radius: 20px;
	box-shadow: 0 7px 25px rgba(0,0,0,0.08);
	text-align: center;
	vertical-align: center;
	gap: 80px;
}

.home .margins .p-content .container img{
	width: 100%;
	height: 350px;
	border-radius: 20px;
	object-fit: cover;
}

.home .margins .p-content .container .datos{
	display: grid;
	grid-template-columns: 3fr 7fr;
}

.home .margins .p-content .container .datos p{
	font-size: 17px;
	text-align: justify;
	margin-bottom: 20px;
}

.home .margins .p-content .container .datos .title{
	font-size: 17px;
	font-weight: bold;
	text-align: justify;
	margin-bottom: 8px;
	
}































